@using ProductCompatibility.ViewModels
@model ShopCartViewModel

<div class="text-center">
    @{
        foreach (var elem in Model.ShopCart.ListShopItems) {
            <div class="alert alert-warning mt-3">
                <b>Product</b>@elem.Product.Name<br />                
                <b>Product</b>@elem.Product.ID<br />                
            </div>
        }
    }
<hr />
<a asp-action="Checkout" class="btn btn-danger" asp-controller="Order">Pay</a>
</div>

