@using ProductCompatibility.ViewModels
@model ProductListViewModel

@{
    ViewData["Title"] = "All products";
}

<div class="text-center">
    @{
        var title = @ViewData["Title"];
        if (!string.IsNullOrEmpty(Model.CurrentCategory)) {
            title = $"All {@Model.CurrentCategory} products";
        }
    }

    <h1 class="display-4 mb-5">@title</h1>
    <div class="d-flex flex-wrap">
        @{
            foreach (Product product in Model.AllProducts) {
                @Html.Partial("AllProducts", product)
            }
        }
    </div>
</div>

