@model ProductListViewModel

@{
    ViewData["Title"] = "Single Product";
}

<div class="text-center card">
    <img src="#" alt="@Model.Product.Img" />
    <h1 class="display-4">@Model.Product.Name</h1>    
    <p>@Model.Product.Description</p>
</div>

