@using ProductCompatibility.ViewModels
@model HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Home Products</h1>
    <table class="product-table">
        @foreach (Product product_horizontal in Model.AllProducts) {            
            <tr>
                @if (@product_horizontal.ID != 1) {
                    <td class="horizontal">@product_horizontal.Name</td>
                }
                else {
                    <td></td>
                }

                @foreach (Product product_vertical in Model.AllProducts) {
                    @if (@product_horizontal.ID == product_vertical.ID) {
                        <td class="vertical">@product_horizontal.Name</td>
                        break;
                    }
                    <td class="table-cell"></td>
                }
            </tr>
        }
    </table>
</div>

