@model ProductCompatibility.Data.Models.Product

@{
    <a href="/Product/Single/@Model.ID">Product: @Model.Name</a>
    <a href="/Category/List/@Model.CategoryID">Category: @Model.Category.Name</a>
    <p><a asp-controller="ShopCart" asp-action="AddToCart" asp-route-prodId="@Model.ID">Add to Cart</a></p>
}

